gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
# key.properties - REMOVED FROM GITIGNORE TO PUSH TO GIT
# **/*.keystore - REMOVED FROM GITIGNORE TO PUSH TO GIT
# **/*.jks - REMOVED FROM GITIGNORE TO PUSH TO GIT

# Google Play / Fastlane service account key (never commit)
kaaikani-420702-6cb05f6d0f33.json
fastlane-api.json
